<div class = "users">
  <% @students.each do |student| %>
    <li>
    <%= image_tag student.avatar.url(:thumb) %>
    <%= link_to full_name(student), user_path(student.id) %>
    <% if current_user == student || current_user.is_teacher? %>
      <%= link_to 'Assign course', edit_courses_user_path(student.id), class: "assign" %>
    <% else %>
      <%= link_to 'View profile', user_path(student.id), class: "assign" %>
    <% end %>
    </li>
  <% end %>
</div>
<%= will_paginate @students, class: :"pagination pagination-centered" %>
