<h1>
  <%= image_tag @user.avatar.url(:small) %>
  <%= full_name(@user) %>
</h1>

<ul class = "courses_user">
  <%= form_tag courses_user_path, :method => :patch do %>
    <%= hidden_field_tag "user_id", @user.id %>
    <% for course in @courses %>
      <%= render partial: 'user', locals: { course: course } %>
    <% end %>
    <%= submit_tag "Mark as Complete" %>
  <% end %>
</ul>
