<ul class = "courses">
  <%= form_tag courses_user_index_path, method: :post do %>
    <%= hidden_field_tag "user_id", @user.id %>
    <% for course in @courses %>
      <li id = "<%= "user_row_#{course.id}" %>">
        <%= check_box_tag "courses_ids[#{course.id}]", course.id, @user.has_course?(course), disabled: @user.has_course?(course) %>
        <%= label_tag "courses_ids[#{course.id}]", course.name %>
        <% if @user.has_course?(course) %>
          <%= link_to "delete", courses_user_path(id: course.id, user_id: @user.id), method: :delete, data: { confirm: "You sure?" }, remote: true %>
        <% end %>
      </li>
    <% end %>
    <%= submit_tag "Mark as Complete" %>
  <% end %>
</ul>
