<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "RoR Teacher", home_path, class: "brand" %>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><%= link_to "Home", home_path %></li>
          <li class="active"><%= link_to "Users", users_path %></li>
          <li class="active"><%= link_to "About", about_path %></li>
          <li class="active"><%= link_to "Contact", contact_path%></li>
        </ul>
        <form class="navbar-form pull-right">
          <input class="span2" type="text" placeholder="Email">
          <input class="span2" type="password" placeholder="Password">
          <button type="submit" class="btn">Sign in</button>
        </form>
      </div>
    </div>
  </div>
</header>
